services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ammas_kitchen
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    restart: always
    expose:
      - "5000"               # expose internally (nginx will reach it)
    depends_on:
      - db
    environment:
      - FLASK_DEBUG=1

  web:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - certbot_www:/var/www/certbot
      - certbot_etc:/etc/letsencrypt

  certbot:
    image: certbot/certbot:latest
    depends_on:
      - web
    volumes:
      - certbot_www:/var/www/certbot
      - certbot_etc:/etc/letsencrypt
    command: >
      sh -c "trap exit TERM;
             while :; do
               certbot renew --webroot -w /var/www/certbot --quiet;
               sleep 12h;
             done"

volumes:
  postgres_data:
  certbot_www:
  certbot_etc:
