{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Edit Banner #{{ banner.id }}</h2>
    <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label>Title</label>
            <input type="text" name="title" class="form-control" value="{{ banner.title }}" required>
        </div>
        <div class="mb-3">
            <label>Current Image</label><br>
            <img src="{{ url_for('static', filename='images/' ~ banner.image) }}" height="100">
        </div>
        <div class="mb-3">
            <label>Change Image</label>
            <input type="file" name="image" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Update Banner</button>
    </form>
</div>
{% endblock %}