{% extends 'base.html' %}

{% block content %}
<section class="py-5 bg-light">
    <div class="container">
        <h1 class="mb-4 text-center">Privacy Policy</h1>
        <div class="card shadow-sm border-0 rounded-4">
            <div class="card-body p-4 p-md-5">
                
                <h5>1. What Information We Collect</h5>
                <p>When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, delivery address, phone number, and email address.</p>

                <h5>2. Payment Information</h5>
                <p>We use <strong>Razorpay</strong> for processing payments. We/Razorpay do not store your card data on their servers. The data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS) when processing payment. Your purchase transaction data is only used as long as is necessary to complete your purchase transaction.</p>

                <h5>3. Consent</h5>
                <p><strong>How do you get my consent?</strong><br>
                When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.</p>

                <h5>4. Disclosure</h5>
                <p>We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</p>

                <h5>5. Security</h5>
                <p>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</p>

                <h5>6. Contact Us</h5>
                <p>If you would like to: access, correct, amend or delete any personal information we have about you, contact us at <strong>karthiksuresh1818@gmail.com</strong> or mail us at: Somayampalayam, Coimbatore.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}